{% extends "products_base.html" %}

{% load static %}

{% block title %}{{ product_category }}{% endblock %}

{% block products_section %}
{% if grouped_products_list %}
    {% for pair in grouped_products_list %}
        <p>
            <div class="item-pair">
                <div class="item">
                    <div class="pic">
                        <img src="{{ pair.0.photo.url }}"> <!-- can be set dynamically, like this: {{ pair.0.photo }}, but browser raises security error -->
                    </div>
                        <p><strong>{{ pair.0.name }}</strong></p>
                        <p class="desc">{{ pair.0.description }}</p>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="{{ pair.1.photo.url }}">
                    </div>
                        <p><strong>{{ pair.1.name }}</strong></p>
                        <p class="desc">{{ pair.1.description }}</p>
                </div>
            </div>
        </p>
    {% endfor %}
{% else %}
    <p1>No products are available at this moment.</p1>
{% endif %}
{% endblock products_section %}
