{% extends "products_base.html" %}

{% load static %}

{% block title %}{{ product_category }}{% endblock %}

{% block products_section %}
{% if grouped_products_list %}
    {% for four in grouped_products_list %}
        <p>
            <div class="item-four">
                <div class="item">
                    <div class="pic">
                        <img src="{{ four.0.photo.url }}"> 
                    </div>
                        <p><a href="{{ four.0.id }}"><strong>{{ four.0.name }}</strong></a></p>
                        <p class="desc">{{ four.0.description }}</p>
                </div>
                {% if four.1 %}
                    <div class="item">
                        <div class="pic">
                            <img src="{{ four.1.photo.url }}">
                        </div>
                            <p><a href="{{ four.1.id }}"><strong>{{ four.1.name }}</strong></a></p>
                            <p class="desc">{{ four.1.description }}</p>
                    </div>
                {% else %}
                <div class="blank">
                </div>
                {% endif %}
                {% if four.2 %}
                    <div class="item">
                        <div class="pic">
                            <img src="{{ four.2.photo.url }}">
                        </div>
                            <p><a href="{{ four.2.id }}"><strong>{{ four.2.name }}</strong></a></p>
                            <p class="desc">{{ four.2.description }}</p>
                    </div>
                {% else %}
                <div class="blank">
                </div>
                {% endif %}
                {% if four.3 %}
                    <div class="item">
                        <div class="pic">
                            <img src="{{ four.3.photo.url }}">
                        </div>
                            <p><a href="{{ four.3.id }}"><strong>{{ four.3.name }}</strong></a></p>
                            <p class="desc">{{ four.3.description }}</p>
                    </div>
                {% else %}
                <div class="blank">
                </div>
                {% endif %}
            </div>
        </p>
    {% endfor %}
{% else %}
    <p1>No products are available at this moment.</p1>
{% endif %}
{% endblock products_section %}
