{% extends "products_base.html" %}

{% load static %}
{% load products_extras %}

{% block title %}{{ category }}{% endblock %}

{% block products_section %}
    {% if products_list %}
        <div class="page">
                <div class="left">
                    <div class="filters-container">
                        <ul class="filter-list">
                            <li>
                                <a href='?{% saved_query query_string "items" 4 %}'><div class="button">Show 4</div></a>
                            </li>
                            <li>
                                <a href='?{% saved_query query_string "items" 8 %}'><div class="button">Show 8</div></a>
                            </li>
                            <li>
                                <a href='?{% saved_query query_string "items" 12 %}'><div class="button">Show 12</div></a>
                            </li>
                            <li>
                                <a href='?{% saved_query query_string "items" 24 %}'><div class="button">Show 24</div></a>
                            </li>
                            <li>
                                <a href='?{% saved_query query_string "show-recent" 1 %}'><div class="button">New first</div></a>
                            </li>
                            <li>
                                <a href='?{% saved_query query_string "show-recent" 0 %}'><div class="button">Old first</div></a>
                            </li>
                            <li>
                                <a href='?{% saved_query query_string "price" "ascending" %}'><div class="button">Ascending price</div></a>
                            </li>
                            <li>
                                <a href='?{% saved_query query_string "price" "descending" %}'><div class="button">Descending price</div></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="central">
                    {% for four in products_list %}
                        <p>
                            <div class="item-four">
                                <div class="item">
                                    <div class="pic">
                                        <img src="{{ four.0.photo.url }}"> 
                                    </div>
                                    <p><a href="{{ four.0.id }}"><strong>{{ four.0.name }}</strong></a></p>
                                    <p class="desc">{{ four.0.description }}</p>
                                    <p><h5 class="price">Price: {{ four.0.price }}</h5></p>
                                </div>
                                {% if four.1 %}
                                    <div class="item">
                                        <div class="pic">
                                            <img src="{{ four.1.photo.url }}">
                                        </div>
                                        <p><a href="{{ four.1.id }}"><strong>{{ four.1.name }}</strong></a></p>
                                        <p class="desc">{{ four.1.description }}</p>
                                        <p><h5 class="price">Price: {{ four.1.price }}</h5></p>
                                    </div>
                                {% else %}
                                <div class="blank">
                                </div>
                                {% endif %}
                                {% if four.2 %}
                                    <div class="item">
                                        <div class="pic">
                                            <img src="{{ four.2.photo.url }}">
                                        </div>
                                        <p><a href="{{ four.2.id }}"><strong>{{ four.2.name }}</strong></a></p>
                                        <p class="desc">{{ four.2.description }}</p>
                                        <p><h5 class="price">Price: {{ four.2.price }}</h5></p>
                                    </div>
                                {% else %}
                                <div class="blank">
                                </div>
                                {% endif %}
                                {% if four.3 %}
                                    <div class="item">
                                        <div class="pic">
                                            <img src="{{ four.3.photo.url }}">
                                        </div>
                                        <p><a href="{{ four.3.id }}"><strong>{{ four.3.name }}</strong></a></p>
                                        <p class="desc">{{ four.3.description }}</p>
                                        <p><h5 class="price">Price: {{ four.3.price }}</h5></p>
                                    </div>
                                {% else %}
                                <div class="blank">
                                </div>
                                {% endif %}
                            </div>
                        </p>
                    {% endfor %}
                            <div class="switcher">
                            {% if prev_page %}
                                <div class="switcher-left">
                                    <div class="button page-button">
                                        <a href='?{% saved_query query_string "page" prev_page %}'>Previous</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="switcher-center">
                                <div style="font-family: Helvetica; width: 40%;">
                                    Page {{ page }}
                                </div>
                            </div>
                            {% if next_page %}
                            <div class="switcher-right">
                                <div class="button page-button">
                                    <a href='?{% saved_query query_string "page" next_page %}'>Next</a>
                                </div>
                            </div>
                            {% endif %}
                            </div>
        {% else %}
            <h1>No products are available at this moment.</h1>
        {% endif %}
                </div>
        </div>
{% endblock products_section %}
