html,
body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: #000;
}

.element {
    margin: 1vh 1vw;
}

/* Navigation bar */
.container {
    font-family: Helvetica;
    font-size: 105%;
    height: 7vh;
    width: 100vw;
    display: flex;
}

.container.navigation-bar {
    background-color: rgb(129, 129, 241);
    justify-content: space-around;
    align-items: center;
}

#nav, #nav ul{
    list-style-type: none;
}

