p {
    margin: 5%;
}

a {
    text-decoration: none;
}

/* Menu bar */
.menu {
    font-family: Helvetica;
    background-color: rgb(84, 122, 247);
    display: flex;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
}

/* products.html - main container */

.page {
    display: flex;
    justify-content: center;
}

.central {
    margin: 1vh;
    width: 75vw;
    justify-content: space-evenly;
}

.item-four {
    display: flex;
    justify-content: space-around;
}

.blank {
    width: 200px;
    margin: 1% 2% 1%;
}

.item {
    width: 200px;
    margin: 1% 2% 1%;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    font-family: Helvetica;
}

/* images */
img {
    width: 100%;
    height: 100%;
}

.pic {
    width: 200px;
    height: 250px;
}

/* fonts */
.desc {
    font-size: 90%;
}

/* selected_product.html - main container */
.selected-page {
    width: 100vw;
    height: 90vh;
    justify-content: space-between;
    display: flex;
}

.left-half {
    width: 35%;
    height: 100%;
    margin-right: 0.5%;
}

.right-half {
    width: 65%;
    height: 100%;
    margin-left: 0.5%;
}

.selected-prod-pic {
    margin: 2%;
    width: 450px;
    height: 550px;
}
